# Virtual Environment
.venv/
venv/
ENV/

# Database (Local SQLite)
db.sqlite3

# Media and Uploads (Images/Resumes)
media/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/